menu "LISP PoC"

config LISP_POC_RESOURCE
	string "CoAP resource - path"
	default "api/v1/gv5va3mC63vezs1Jke8R/telemetry"

config LISP_POC_SERVER_HOSTNAME
	string "CoAP server hostname"
	default "coap.eu.thingsboard.cloud"

config LISP_POC_SERVER_PORT
	int "CoAP server port"
	default 5683

config LISP_POC_STARTUP_DELAY_SECONDS
	int "Delay between the powerup and app logic start"
	default 15

config LISP_POC_DATA_UPLOAD_ITERATIONS
	int "Number of data transmissions to the server before shutdown"
	range -1 2147483647
	default -1
	help
	  Number of data transmissions to the server before shutdown.
	  Set to -1 to transmit indefinitely.

config LISP_POC_UPLOAD_FREQUENCY_SECONDS
	int "How often data is transmitted to the server"
	default 1800

endmenu

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu

# Log level configuration
module = LISP_POC
module-str = LISP PoC
source "$(ZEPHYR_BASE)/subsys/logging/Kconfig.template.log_config"
