/ {
    w1_0: w1_gpio_0 {
        compatible = "zephyr,w1-gpio";
        gpios = <&gpio0 7 GPIO_ACTIVE_HIGH>;
        status = "okay";

        ds18b20_0: temperature {
            compatible = "maxim,ds18b20";
            resolution = <12>;
        };
    };

    w1_1: w1_gpio_1 {
        compatible = "zephyr,w1-gpio";
        gpios = <&gpio0 8 GPIO_ACTIVE_HIGH>;
        status = "okay";

        ds18b20_1: temperature {
            compatible = "maxim,ds18b20";
            resolution = <12>;
        };
    };

    w1_2: w1_gpio_2 {
        compatible = "zephyr,w1-gpio";
        gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
        status = "okay";

        ds18b20_2: temperature {
            compatible = "maxim,ds18b20";
            resolution = <12>;
        };
    };
};

/ {
    chosen {
        zephyr,console = &uart0;
        zephyr,shell-uart = &uart3;
    };
};

&pinctrl {
    uart3_default: uart3_default {
        group_tx_rx {
            psels = <NRF_PSEL(UART_TX, 0, 2)>,
                    <NRF_PSEL(UART_RX, 0, 3)>;
            bias-pull-up;
        };
    };

    uart3_sleep: uart3_sleep {
        group_tx_rx {
            psels = <NRF_PSEL(UART_TX, 0, 2)>,
                    <NRF_PSEL(UART_RX, 0, 3)>;
            low-power-enable;
        };
    };
};

&uart3 {
    status = "okay";
    current-speed = <9600>;
    pinctrl-0 = <&uart3_default>;
    pinctrl-1 = <&uart3_sleep>;
    pinctrl-names = "default", "sleep";
};

&spi3 {
    status = "disabled";
};